<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detalhes do Produto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-card *ngIf="produtos.length > 0">
    
    <img class="product-image" [alt]="produtos[indiceAtual].title" [src]="produtos[indiceAtual].image" />

    <ion-card-header>
      <ion-card-title>{{ produtos[indiceAtual].title }}</ion-card-title>
      <ion-card-subtitle>{{ produtos[indiceAtual].category }} • $ {{ produtos[indiceAtual].price }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ produtos[indiceAtual].description }}</p>

      <ion-grid class="navigation-grid">
        <ion-row class="ion-align-items-center ion-justify-content-between">
          <ion-col size="auto">
            <ion-button fill="clear" color="dark" (click)="produtoAnterior()" [disabled]="indiceAtual === 0">
              <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          
          <ion-col size="auto">
            <strong>ID: {{ produtos[indiceAtual].id }}</strong>
          </ion-col>

          <ion-col size="auto">
            <ion-button fill="clear" color="dark" (click)="proximoProduto()" [disabled]="indiceAtual === produtos.length - 1">
              <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>